@font-face {
	font-family: "PeacewordFont";
	src: url('custom.ttf');
}

body.backgroundcolor
{
	background-color: rgb(39, 40,51);
	width: 20rem;
	color:white;
}

#qrcode
{
	background-color: white;
	border: solid 3px white;
	height: 106px;
}

.next
{
	width: 100%;
}

.icons
{
	width: 1.5rem;
}

.logo
{
	width: auto;
    height: 2rem;
    margin-bottom: 1rem;
}

.label
{
	font-family: "PeacewordFont";
}

.value
{
	font-family: "PeacewordFont";
	font-size: 0.9rem;
	text-align: center;
	margin-bottom: 6px;
}

#autofill, #copypass,  #savebutton, #copysalt, #syncbutton
{
	font-family: "PeacewordFont";
	color: rgba(185,67,88);
}


#autofill:hover, #copypass:hover, #savebutton:hover, #copysalt:hover, #syncbutton:hover
{
	color: rgb(230, 91, 116);
	text-decoration: none;
}

#syncbutton.disabled, #syncbutton.disabled:hover
{
	color: rgb(84, 84, 84);
	cursor: default;
}

input
{
	width: 100%;
}

#lensetting
{
	width: 57%;
    height: 80%;
}

.padbot5px
{
	padding-bottom: 5px;
}

#popupmessage
{
	margin-bottom: 0;
}
